*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.auto {
  height: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
}

#header {
  text-align: center;
  padding: 1rem 0;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

#left,
#right {
  background-color: #2d2d2d;
  color: #cccccc;
  border: 4px solid darkgray;
  border-radius: 4px;
  overflow: scroll;
}
#right {
  padding: 0.25rem 0.5rem;
}

pre,
#editor,
#right {
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
}

log {
  display: block;
  color: #6699cc;
}
log.output {
  color: #c5c8c6;
}
log.copy:hover {
  background-color: #393939;
  cursor: pointer;
}

.hl-white {
  color: #c5c8c6;
}
.hl-gray {
  color: #969896;
}
.hl-blue {
  color: #6699cc;
}
.hl-error {
  color: #f2777a;
}
.hl-warning {
  color: #f0c674;
}

input {
  display: block;
  background-color: #393939;
  color: #ccc;
  border: none;
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
  width: 100%;
  margin: 0.25rem 0;
  padding: 0.25rem;
  border: none;
  outline: none;
}
input.disabled {
  display: none;
}

button {
  border-radius: 4px;
  border: 4px transparent;
  background-color: #6699cc;
  cursor: pointer;
  font-size: 1rem;
  min-width: 7rem;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
button > span {
  color: white;
  font-family: "Source Code Pro", monospace;
}
button > span.x {
  display: none;
}
button:hover {
  background-color: #cc99cc;
}
button > #loader {
  border: 0.125rem solid white;
  border-top: 0.125rem solid transparent;
  border-radius: 50%;
  display: none;
  width: 1.25rem;
  height: 1.25rem;
  margin: auto;
  animation: spin 0.5s linear infinite;
}
button.disabled > #loader {
  display: block;
}
button.disabled:hover > #loader {
  display: none;
}
button.disabled > span {
  display: none;
}
button.disabled:hover > span.x {
  display: block;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
